[user]
	mail = samer.bahi@thebahrimedia.com
	name = samer bahri
	email = samer.bahi@thebahrimedia.com
	signingkey = samer.bahri@thebahrimedia.com
[filesystem "AdoptOpenJDK|11.0.6|/dev/sda1"]
	timestampResolution = 11000 nanoseconds
	minRacyThreshold = 5576 microseconds
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
